* {
    font-size: 1rem;
}
/***** gnav設定 *****/
#navi {
    .navi-in {
        & > ul {
            & > li {
                width: auto;
            }
        }
        a {
            display: block;
            white-space: nowrap;
            font-size: 1.4rem;
            padding: 0 20px;
        }
    }
}

/***** 固定ページ *****/
.entry-content {
    p {
        text-indent: 1rem;
    }
}